.user-item{
	list-style: none;
	margin: 20px auto;

	.user-item__content{
		display: flex;
		width: 250px;
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
		padding: 10px 20px;
		border-radius: 10px;
		cursor: pointer;
	}
}

.user-item__image{
	display: flex;
	align-items: center;
}

.user-item__info{
	margin-left: 10px;

	h2{
		margin-bottom: 0;
		font-size: 14pt;
	}

	h3{
		float: left;
		font-size: 10pt;
		margin-top: 0;
		color: rgba($color: #000000, $alpha: .8);
	}
}