.homepage-container{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	.homepage-container__places{
		
		border-left: 1px solid rgba(0, 0, 0, 0.2);
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		border-bottom-left-radius: 10px;
		width: 100vw;
		margin-left: 20px;
		padding: 0 20px;

		.homepage-container__user-post{
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 15px;

			img{
				width: 40px;
				height: 40px;
				border-radius: 40%;
				margin: 1%;
			}

			.post-name-location{
				h5{
					font-size: 12pt;
					margin: 0;
	
					span{
						font-weight: 400;
					}
				}
				
				p{
					font-size: 9pt;
					margin: 0;
					opacity: 0.7;
				}

			}

		}

		.homepage-container__place-post{
			margin-bottom: 20px;
			box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
			border-radius: 10px;
			width: 500px;

			#place-image-post{
				box-shadow: inset 0px 0px 5px 0px #b3b3b3;
				max-width: 500px;
				position: relative;				
			}

			.user-post__infos{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding-left: 20px;
				
				h4{
					margin: 0;
					font-size: 11pt;
				}

				p{
					margin: 2% 0;
					font-size: 11pt;
				}

				#place-address{
					font-size: 10pt;
					padding-right: 10px;
				}
			}
		}

	}
}